<!DOCTYPE html>
<html>
<head>
    <title>Weather</title>
    <link rel="icon" href="/image/weather.png">
<link rel="stylesheet" href="./css/styles.css">

</head>

<body>
<div class="main-content">
{{>header}}

<p>Use this site to get your weather!</p>
<form>
    <input placeholder="Location">
    <button>Search</button>
</form>
<br/><pre>
<p1 id='message-1'></p1><br/></p1>
<p2 id='message-2'></p2>
</pre>
</div>
{{>footer}}
<script src="/js/app.js"></script>
</body>

</html>